*{
    font-family: Geneva, Tahoma, sans-serif;
    color: rgb(22, 29, 51);
}

body{
    overflow: hidden;
    background-color: rgb(203, 224, 255);
}

input{
    background-color: rgb(203, 224, 255);
    border: 1px rgb(128, 145, 170) solid;
    border-radius: 5px;  
    padding: 10px;
    text-align: center;      
}

button{
    background-color: rgb(203, 224, 255);
    border: 1px rgb(128, 145, 170) solid;
    border-radius: 5px;
    padding: 10px;
}

input:hover, button:hover{
    transition-duration: 200ms;
    background-color: rgb(130, 170, 207);
    color: rgb(5, 4, 7);
}

div:not(.buttons):not(.overlay){
    width: 500px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(130, 170, 207);
}

.overlay{
    margin-top: 32vh;
}

.control{
    height: 80px;
}

.buttons, .birthday{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
    height: 15px;
    align-items: center;
}


p,h1,h3{
    text-align: center;
    display: block;
}

p{
    margin:2px;
}

h3{
    margin: -5px 0 25px 0;
}

.output{
    height: 80px;
}